<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud - Application</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/min.css' %}">
</head>
<body>
<div class="container mt-5">

    <h2 class="text-center alert-danger">Function Based View ModelForm CRUD project</h2>

{% block content %}
    
{% endblock content %}
    


</div>
    
    <script src="{% static 'app/js/bootstrap.js' %}"></script>
    <script src="{% static 'app/js/jquery.js' %}"></script>
    <script src="{% static 'app/js/min.js' %}"></script>
    <script src="{% static 'app/js/poper.js' %}"></script>
</body>
</html>